/* Estilos Gerais do Carrossel */
.carousel-container {
  position: relative;
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.carousel-images {
  display: flex;
}

.scroll-container-img {
  min-width: calc(100% / 3);
  transition: transform 0.5s ease-in-out;
  padding: 10px;
}

.scroll-container-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilos das Setas de Navegação */
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent; /* Sem fundo */
  border: none;
  color: black; /* Cor da seta */
  font-size: 3rem; /* Aumenta o tamanho da seta */
  cursor: pointer;
  z-index: 1000;
}

.left-arrow {
  left: 10px; /* Posiciona a seta da esquerda fora da imagem */
}

.right-arrow {
  right: 10px; /* Posiciona a seta da direita fora da imagem */
}

.carousel-arrow:hover {
  color: #2e8b57; /* Cor ao passar o mouse */
}

/* Miniaturas */
.carousel-thumbnails {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.thumbnail {
  width: 60px;
  height: auto;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s, border 0.3s;
  border-radius: 5px;
}

.thumbnail:hover,
.thumbnail.active {
  opacity: 1;
  border: 2px solid #2e8b57;
}
