/* Atualização do Carrossel Responsivo */
.slider {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; /* Maior largura para desktop */
  height: auto;
  overflow: hidden;
  display: flex; /* Ocultar carrossel em telas maiores */
  background-color: #ccc;
}

/* Slides */
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 0;
}

/* Correção para Imagens Responsivas no Carrossel */
.slide img {
  width: 100%; /* Ocupa toda a largura disponível */
  height: auto; /* Mantém a proporção e ajusta a altura automaticamente */
  object-fit: cover; /* Preenche o espaço sem distorções, cortando se necessário */
  max-height: 380px; /* Garante uma altura máxima apropriada */
}

/* Setas de Navegação */
.prev,
.next {
  position: absolute;
  top: 50%;
  color: #121212;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1000;
  font-size: 30px;
  padding: 5px;
  transition: transform 0.3s;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

/* Navegação Manual (botões abaixo do slide) */
.manual-navigation {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.manual-btn {
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manual-btn:hover,
.manual-btn.active {
  background-color: #fff;
}

/* Responsividade para Dispositivos Móveis */
@media screen and (max-width: 768px) {
  .slider {
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .slide {
    min-width: 100%;
    height: auto;
    position: relative;
    flex-shrink: 0;
    aspect-ratio: 3 / 5;
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Ajustado para o número de slides */
  }

  .prev,
  .next {
    font-size: xx-large;
    padding: 10px;
  }

  .container-setas {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .prev,
  .next {
    background: none;
    border: none;
    cursor: pointer;
  }

  .manual-navigation {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .manual-btn {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
  }

  .manual-btn.active {
    background-color: #333;
  }
}
